QPushButton {
    background-color: #315642;
    color: #fafafa;
    border-radius: 2px;
	border: 1px solid rgb(10, 10, 10);
    font-size: 16px;
    padding: 0px 10px 0px 10px;

}

QPushButton::hover {
    background-color: #5BE79B;
    color: rgb(30, 30, 30);
}

QPushButton::pressed {
    background-color: rgb(30, 30, 30);
    color: #5BE79B;
}

QPushButton#smallSize {
    font-size: 11px;
}

